*:root {
    --body_background: #f0f8ff;
    --light: white;
    --links: #141416;
    --text: #141416;
    --btn_color: #141416;
    --see_more:#9c27b0;
    --svg: #141416;
    --headings: 32px;
    --card: #f0f8ff;
    font-family: inter;
}

[data-theme ="dark"] {
    --body_background:  #313e51;
    --links: #f0f8ff;
    --text: white;
    --btn_color: #f0f8ff;
    --svg : #f0f8ff;
    --card: #3c4d65;
    
}

body {
    background-color: var(--body_background);
}  